{% extends "base.html" %}

{% block title %}PyCarolinas 2020 - About{% endblock %}

{% block content %}

<header class="blank-header"></header>

<section id="about" class="bg-light">
  <div class="container">
    <div class="row text-black">
      <div class="col-lg-8 mx-auto">

        <div class="info-section">
          <h2 class="text-danger">About PyCarolinas</h2>
          <p>
            PyCarolinas is <i>the</i> regional Python conference for the Carolinas.
            PyCarolinas is a non-profit conference run for the Python community, by the Python community.
            As organizers, we seek to promote learning and camaraderie around the Python programming language
            in a fun, safe, and <a href="{{ url_for('diversity') }}">diverse</a> environment that is welcoming to all.
            Please help us do this by following our <a href="{{ url_for('code_of_conduct') }}">code of conduct</a>.
          </p>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Conference Organizers</h3>
          <ul>
            <li>Founder and co-chair: <a href="https://twitter.com/ironfroggy">Calvin Spealman</a></li>
            <li>Re-founder and co-chair: <a href="https://twitter.com/AutomationPanda">Pandy Knight</a></li>
          </ul>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Volunteers</h3>
          <p>
            PyCarolinas can't happen without the help of community volunteers!
            Please <a href="{{ url_for('contact') }}">contact us</a> if you'd like to help.
            Here are some ways to volunteer:
            <ul>
              <li>Spread the word about PyCarolinas 2020!</li>
              <li>Take on various conference-day roles like registration, setup, cleanup, etc.</li>
              <li>Give a <a href="{{ url_for('speaking') }}">lightning talk</a></li>
              <li>Lead a <a href="{{ url_for('speaking') }}">collab cluster</a></li>
              <li>Find a <a href="{{ url_for('sponsors') }}">sponsor</a> for a few of our needs</li>
              <li>Handle A/V for live-streaming lightning talks</li>
              <li>Join our team to help plan future PyCarolinas events</li>
            </ul>
          </p>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Why the "Unconference"?</h3>
          <p>
            A traditional conference is a formal event with top-down organization.
            Organizers plan a program, invite speakers, and schedule events.
            An <i>unconference</i>, however, is participant-driven.
            Unconferences facilitate attendant-driven activities by providing open spaces and some guidance.
          </p>
          <p>
            There are three primary reasons why we chose to make PyCarolinas 2020 an unconference:
          </p>
          <ol>
            <li>
              COVID-19 could force us to reschedule or cancel PyCarolinas 2020.
              We want to structure the conference to be as lean as possible so that changes will be less disruptive for all involved.
              Please read more about our pandemic preparedness on our <a href="{{ url_for('covid19') }}">COVID-19 page</a>.
            </li>
            <li>
              The organizers have been very busy with non-PyCarolinas things.
              A traditional conference would be a lot more work than an unconference,
              and we just might not have time to pull it off.
            </li>
            <li>
              We want to make PyCarolinas distinct among regional Python conferences.
              Most other conferences follow a traditional format.
              That's awesome, and there is nothing wrong with that,
              but we want to try something different.
            </li>
          </ol>
          <p>
            Automation Panda's <a href="https://automationpanda.com/2020/03/12/pycarolinas-2020-update/">PyCarolinas 2020 Update</a> shares the full story.
            We do not know if we will hold unconferences for future conferences,
            but for 2020, we simply know that an unconference will be the best format given our circumstances.
          </p>
        </div>

        <div class="info-section">
          <h3 class="text-danger">PyCarolinas History</h3>
          <p>
            <a href="https://twitter.com/ironfroggy">Calvin Spealman</a> founded PyCarolinas in 2012 with the first (and so far only) conference at UNC Chapel Hill.
            The only other Python conference held in the Carolinas since then was <a href="https://pydata.org/carolinas2016/">PyData Carolinas 2016</a>, hosted by IBM.
            Despite having several talented Pythonistas in both North and South Carolina, various factors prevented the return of either conference.
          </p>
          <p>
            Starting in 2018, Pandy Knight had a dream to make a regional Python conference happen in the Carolinas.
            Pandy shared this idea with some friends at PyCon 2019 who strongly encouraged him to make it happen.
            <a href="https://twitter.com/di_codes">Dustin Ingram</a> then invited Pandy to give a call-to-action for a PyCarolinas 2020 conference on the big stage during the "parade of worldwide conferences."
            Immediately thereafter, Pandy held an open space for PyCarolinas to kick things off, and dozens of people attended.
            Pandy got in touch with Calvin after PyCon, and they became PyCarolinas co-chairs.
          </p>
          <p>
            PyCarolinas 2020 will truly be a relaunch for the conference.
            We want to start small this year so that we can sustainably build momentum for years to come.
            PyCarolinas 2020 will happen in Raleigh, NC, but we are open to other locations throughout the Carolinas in the future.
          </p>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Other Python Conferences</h3>
          <p>
            If you cannot attend PyCarolinas, don't worry!
            There are several other great Python conferences around the world.
            Here are a few that we can recommend (but note that this is not a complete list).
          </p>
          <p>International:</p>
          <ul>
            <li>PyCon US</li>
            <li>PyCon Canada</li>
            <li>PyCaribbean</li>
            <li>EuroPython</li>
          </ul>
          <p>Regional (US):</p>
          <ul>
            <li>DjangoCon</li>
            <li>North Bay Python</li>
            <li>PyBay</li>
            <li>PyCascades</li>
            <li>PyChesapeake</li>
            <li>PyColorado</li>
            <li>PyGotham</li>
            <li>PyOhio</li>
            <li>PyTennessee</li>
            <li>PyTexas</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
