{% extends "base.html" %}

{% block title %}PyCarolinas 2020 - Contact{% endblock %}

{% block content %}

<header class="blank-header"></header>

<section id="contact" class="bg-light">
  <div class="container">
    <div class="row text-black">
      <div class="col-lg-8 mx-auto">
        
        <div class="info-section">
          <h2 class="text-danger">Contact</h2>
        </div>

        <div class="info-section">
          <h3 class="text-danger">General Correspondance</h3>
          <ul>
            <li>Follow us on Twitter at <a href="https://twitter.com/PyCarolinas">@PyCarolinas</a>.</li>
            <li>Join our Slack room using this <a href="https://join.slack.com/t/pycarolinas/shared_invite/zt-857y0sxu-htcDtfEvRcjo0gU2wkcwwQ">invitation link</a>.</li>
            <li>Sign up for our newsletter <a href="https://mailchi.mp/8ad40e1455a4/pycarolinas-news">here</a>.</li>
          </ul>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Code of Conduct</h3>
          {% include "coc-snippet.html" %}
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
