{% extends "base.html" %}

{% block title %}PyCarolinas 2020 - COVID-19{% endblock %}

{% block content %}

<header class="blank-header"></header>

<section id="code-of-conduct" class="bg-light">
  <div class="container">
    <div class="row text-black">
      <div class="col-lg-8 mx-auto">

        <div class="info-section">
          <h2 class="text-danger">COVID-19</h2>
          <p>
            TBD
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>

{% endblock %}
