{% extends "base.html" %}

{% block title %}PyCarolinas 2020 - COVID-19{% endblock %}

{% block content %}

<header class="blank-header"></header>

<section id="covid19" class="bg-light">
  <div class="container">
    <div class="row text-black">
      <div class="col-lg-8 mx-auto">

        <div class="info-section">
          <h2 class="text-danger">COVID-19</h2>
          <p>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">COVID-19</a>,
            also known as the "coronavirus", is an infectious disease that causes flu-like symptoms.
            It is highly contageous and can be fatal,
            especially for older adults and people with certain medical conditions.
            The WHO has declared the 2019-2020 outbreak of COVID-19 to be a worldwide pandemic.
            Health experts and government agencies recommend strong social distancing to limit the spread of the virus.
          </p>
          <p>
            The PyCarolinas organizers recognize the severity of the COVID-19 pandemic.
            We will take appropriate actions regarding PyCarolinas 2020 to ensure everyone's safety and health.
            We take this responsibility <em>very</em> seriously.
            We also encourage everyone to stay safe and stay <a href="https://twitter.com/search?q=%23PythonStrong">#PythonStrong</a>!
          </p>
          <p>
            <em>The information on this page was last updated on March 15, 2020</em>.
          </p>
        </div>

        <div class="info-section">
          <h4 class="text-danger">Will PyCarolinas 2020 be postponed or canceled?</h4>
          <p>
            Maybe.
            At the present time, we still intend to host the conference as planned.
            We hope that COVID-19 will have run its course by June so that we can all return to "normal" lives.
            However, we just don't know what will happen.
          </p>
          <p>
            We will follow both common sense and government directives to determine if we should or should not hold PyCarolinas 2020 on June 20.
            We will err on the side of caution.
            If we need to cancel the conference on its original date, we will do our best to reschedule it.
            We will also communicate updates on this website, on Twitter, and through our newsletter.
            <a href="{{ url_for('contact') }}">Contact us</a> if you have any questions or concerns.
          </p>
        </div>

        <div class="info-section">
          <h4 class="text-danger">How have conference plans changed due to COVID-19?</h4>
          <p>
            We changed the entire structure of PyCarolinas to better accommodate the unknowns with this pandemic.
            Originally, we planned to hold a traditional two-day conference with keynotes and scheduled talks.
            Now, we plan to hold a one-day unconference instead.
            We want PyCarolinas to be <em>lean</em> so that we can pivot quickly.
          </p>
          <ul>
            <li>An unconference requires less planning work for organizers.</li>
            <li>Shrinking the conference length to one day makes it easier to postpone.</li>
            <li>Lightning talks require less commitment than scheduled talks (considering prep and travel for speakers).</li>
            <li>Smaller scope means lower cost and less dependence on sponsors.</li>
            <li>We will wait to offer tickets until May 1, and we might limit ticket quantities.</li>
            <li>Free tickets won't need refunds.</li>
          </ul>
          <p>
            We will continue to monitor the COVID-19 pandemic and make appropriate changes as necessary.
          </p>
        </div>

        <div class="info-section">
          <h4 class="text-danger">Should I still attend PyCarolinas 2020?</h4>
          <p>
            Probably!
            If you are a local or regional Pythonista, and you know that you can commit to attending, then please come.
            However, if you are coming from far out of town,
            then we recommend that you monitor the travel situation before committing to come.
            We would hate for you to book plans and then need to cancel.
            Furthermore, if you feel ill shortly before or during the conference,
            then we politely ask you to stay home.
          </p>
          <p>
            If you registered a ticket but are no longer able to come,
            then please contact us ASAP so we can give your ticket to someone else!
          </p>
        </div>

        <div class="info-section">
          <h4 class="text-danger">Will I get a refund if the conference is canceled?</h4>
          <p>
            PyCarolinas 2020 should be free, so no refund should be necessary.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>

{% endblock %}
