{% extends "base.html" %}

{% block title %}PyCarolinas 2020{% endblock %}

{% block content %}

<header class="banner-header bg-white text-black">
  <div class="container text-center">
    <img src="{{ url_for('static', filename='img/pycarolinas.png') }}" class="img-fluid" alt="PyCarolinas 2020">
    <h2>SATURDAY, JUNE 20 *</h2>
    <h2>RALEIGH, NC</h2>
  </div>
</header>

<section id="about" class="bg-danger">
  <div class="container">
    <div class="row text-white">
      <div class="col-lg-8 mx-auto">
        <h2>PyCarolinas is Back!</h2>
        <p class="lead">
          Join us for an awesome one-day "unconference" all about Python,
          for the community and by the community.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex align-items-stretch">
        <div class="card text-black bg-light">
          <div class="card-body">
            <h5 class="card-title">Lightning Talks</h5>
            <p class="card-text">
              Instead of formal tracks, we will hold 5-10 minute talks all day long!
              We welcome talks about anything Python-related.
              Anyone can speak. <a href="{{ url_for('speaking') }}">Sign up!</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="card text-black bg-light">
          <div class="card-body">
            <h5 class="card-title">Collab Clusters</h5>
            <p class="card-text">
              Want to team up with other Pythonistas to work on a project?
              Or maybe you want to learn some new skills?
              We'll set aside tables for folks to collaborate together!
            </p>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="card text-black bg-light">
          <div class="card-body">
            <h5 class="card-title">Hallway Track</h5>
            <p class="card-text">
              Python conferences are great because they bring people together.
              We'll provide open space for everyone to share ideas, show code, and swap stickers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="venue" class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Venue</h2>
        <p class="lead">
          PyCarolinas will be held at <i>Red Hat Annex</i>, right in the heart of downtown Raleigh.
          We hope to accommodate about 100 (or more) Pythonistas.
          Lunch will also be provided.
          Check our <a href="{{ url_for('venue') }}">Venue</a> page for details.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="registration" class="bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Registration</h2>
        <p class="lead">
          Registration will open May 1, 2020*.
          Tickets will be <b>FREE!</b>
        </p>
        <p>* Dates may change due to COVID-19.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact</h2>
        <p class="lead">
          Follow us on Twitter at <a href="https://twitter.com/PyCarolinas">@PyCarolinas</a>,
          join our <a href="https://join.slack.com/t/pycarolinas/shared_invite/zt-857y0sxu-htcDtfEvRcjo0gU2wkcwwQ">Slack room</a>,
          and sign up for our <a href="https://mailchi.mp/8ad40e1455a4/pycarolinas-news">newsletter</a>!
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
