{% extends "base.html" %}

{% block title %}PyCarolinas 2020 - Sponsors{% endblock %}

{% block content %}

<header class="blank-header"></header>

<section id="sponsors" class="bg-light">
  <div class="container">
    <div class="row text-black">
      <div class="col-lg-8 mx-auto">

        <div class="info-section">
          <h2 class="text-danger">Sponsors</h2>
          <p>
            PyCarolinas 2020 wouldn't be possible without sponsors.
            Even going lean, we still need the support of a few key sponsors to make our unconference happen.
            We sincerely thank and recognize each of them!
          </p>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Recognizing Our Sponsors</h3>
          <ul>
            <li><b>Venue Sponsor</b>: <a href="https://www.redhat.com/">Red Hat</a> graciously provided our venue, the Red Hat Annex, for <em>free</em>.</li>
            <li><b>Website Sponsor</b>: <a href="https://automationpanda.com">Automation Panda</a> built and hosted the PyCarolinas 2020 website.</li>
          </ul>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Remaining Sponsorship Needs</h3>
          <p>
            Below are our remaining sponsorship needs in order of importance.
            We need both the finances and the volunteers for the following needs.
            Please <a href="{{ url_for('contact') }}">contact us</a> if you would like to support PyCarolinas 2020 in any of these ways!
          </p>
          <ol>
            <li><b>Lunch Sponsor</b>: We need to provide pizza and soft drinks for lunch.</li>
            <li><b>Coffee Sponsor</b>: We would like to provide coffee in the morning.</li>
            <li><b>Signage Sponsor</b>: We would like to print "PyCarolinas 2020" signs to help people find the venue.</li>
            <li><b>Sticker Sponsor</b>: We would like to print and distribute "PyCarolinas 2020" stickers.</li>
            <li><b>Streaming Sponsor</b>: We would like to live stream the lightning talks and then save their recordings on YouTube.</li>
            <li><b>Dinner Sponsor</b>: We invite a sponsor to host an after-conference dinner party at a nearby restaurant for conference attendees.</li>
          </ol>
        </div>
        
      </div>
    </div>
  </div>
</section>

{% endblock %}
