{% extends "base.html" %}

{% block title %}PyCarolinas 2020 - Venue{% endblock %}

{% block content %}

<header class="blank-header"></header>

<section id="venue" class="bg-light">
  <div class="container">
    <div class="row text-black">
      <div class="col-lg-8 mx-auto">

        <div class="info-section">
          <h2 class="text-danger">Venue</h2>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Location</h3>
          <p>
            PyCarolinas 2020 will be held at <b>Red Hat Annex, 190 E Davie St, Raleigh, NC 27601</b>.
          </p>
          <p>
            Red Hat Annex is located on the same block as Red Hat Tower,
            but its entrance is separate from the main tower.
            The entrance is on Davie St between a few restaurants.
            We will do our best to post signs and volunteers outside,
            since the entrance is a bit nondescript.
          </p>
          <p>
            Many thanks go to Red Hat for providing the venue <em>for free</em>.
          </p>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Lodging</h3>
          <p>
            If you need a place to stay during the conference, Raleigh has plenty of options.
            Downtown Raleigh has a number of hotels close to the venue, but they might be pricey.
            There are also several less expensive hotels within a 20-minute drive.
            The Triangle also has short-term rental options (like Airbnb and VRBO) that tend to be less expensive than hotels.
            We recommend staying within Wake County (Raleigh, Cary, Apex, Garner) so that you won't be too far from the venue.
          </p>
        </div>

        <div class="info-section">
          <h3 class="text-danger">Transportation</h3>
          <p>
            <b>Driving:</b>
            The easiest way to get around the Triangle is to drive.
            Downtown Raleigh has free street parking on weekends.
            There are also several parking garages downtown that might charge a fee.
          </p>
          <p>
            <b>Ride Sharing:</b>
            The Triangle has Uber and Lyft.
            A ride from RDU airport to downtown Raleigh costs about $20-$30.
          </p>
          <p>
            <b>Buses:</b>
            The <a href="https://www.downtownraleigh.org/getting-around/r-line">R-LINE</a> runs a loop around downtown Raleigh for free.
            <a href="https://goraleigh.org/">GoRaleigh</a> runs a hub-and-spoke model around the rest of the city for $1.25 for a single ride.
            <a href="https://gotriangle.org/">GoTriangle</a> provides bus routes throughout the whole Triangle area.
            Please be warned that these are separate bus services.
          </p>
          <p>
            <b>Scooters:</b>
            The only electric scooter service remaining in Raleigh is
            <a href="https://ridegotcha.com/locations/raleigh/">Gotcha</a>.
          </p>
          <p>
            <b>Trains:</b>
            Raleigh does not have a subway system or a light rail, but Amtrak stops at Raleigh Union Station.
            You could arrive by train and then walk or use other options to get around.
          </p>
          <p>
            <b>Flights:</b>
            Raleigh-Durham International Airport (RDU) is the Triangle's major airport.
            The airport has rental cars, taxis, ride shares, and the GoTriangle bus.
          </p>
          <p>
            Please also check Raleigh's <a href="https://www.downtownraleigh.org/getting-around">Getting Around</a> guide
            for more information.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>

{% endblock %}
